/*
CSS REset

*/

*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*
General Styles

*/

body
{
    font-family: Arial;
    text-align: center;  
    font-size:1.1rem;
    background-color:#333333;
    line-height: 1.4rem;

}
/*Utilities styles*/
a
{
    text-decoration: none;
}

img
{
    width:100%;
}

/*************HEADER**************/
header
{
    height:60vh;
    color:#ffffff;
    position: relative;
 
}


header h1
{
    padding: 3rem 0 0 0;
    margin:0 0 4rem 0
}

header a 
{
    background-color:#333333;
    color:#ffffff;
    border : 2px solid #555555;
    padding :1rem 1.5rem;
    display:inline-block; /*This converts an inline element into an inline-block element*/
    margin: 1.8rem 0 0 0; 
}

header p
{
    padding:0 3rem;
}

#overlay
{
    opacity:0.4;
    position: absolute;
    background-image:url("../img/header-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width:100%;
    height: 100%;
    z-index: -1;

}




/************RESUME SECTION**********/
#resume-summary-section
{
    background-color: #eaeaea;
    padding:2rem 6rem;

}

/*************RESUME DETAILS SECTION***********/
#inner-container 
{
    width:75%;
    margin: 0 auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0.4rem;
}

#inner-container > div
{
    background-color:#fff;
    font-size:1rem;
    padding:0 0rem 1.5rem 0rem;
}

#inner-container > div > h3
{
    margin:1rem 0;

}

#resume-summary-section h2
{
    margin: 0 0 1.5rem 0;
}


/***********RESUME CONTACTION SECTION**************/
#resume-contact-section
{
    background-color:aqua;
    display:grid;
    grid-template-columns: 1fr 1fr;
}


#resume-contact-section > div
{
    padding:2rem 3rem;
}

#resume-contact-section > div:nth-child(1)
{
    background-color:#2690d4;
    color:#ffffff;
}

#resume-contact-section > div:nth-child(2)
{
    background-color:#ffffff;
}


#resume-contact-section h3
{
    margin:0 0 1rem 0;
}



/************************ FOOTER***************/
footer
{
    display:grid;
    grid-template-columns: 1fr 1fr;
    color:#ffffff;
    padding: 2rem 0;
    background-color: #000000;
}

footer i
{
    font-size:2rem;
    color:#fff;
}

footer div 
{
    display:grid;
    grid-template-columns: repeat(4,1fr);
}

@media(max-width:768px)
{
    header p,#resume-summary-section, #resume-details-section p,#resume-contact-section > div
    {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #resume-contact-section,#inner-container,footer
    {
        grid-template-columns: 1fr;
    }

    #inner-container
    {
        width:100%;
    }
    footer i
    {
        margin-top:2rem;
    }


}